.book_item {
    border-bottom: 1px solid #cccccc;
}

.book_item h2 {
    text-align: center;
}

.book_details {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
}

.book_details > * {
    margin: 0.5rem;
}

.book_details p:first-child {
    margin-top: 0;
    padding-top: 0;
}

.book_info {
    width: 100%;
    max-width: 500px;
}

.book_info p:last-of-type {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}